<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestApp.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <TestApp.WPF.Properties.Settings>
      <setting name="skydrive_client_id" serializeAs="String">
        <value>0000000040112888</value>
      </setting>
      <setting name="skydrive_auth_code" serializeAs="String">
        <value />
      </setting>
    </TestApp.WPF.Properties.Settings>
  </userSettings>
</configuration>